<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Star Hotels Helps you Discover The Perfect Balance
	Of Hospitality, Luxury And
	Comfort.">
	<title>Star Hotels</title>
	<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/global-header.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/global-footer.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/accessibility.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/index.css') }}">
	<link rel="shortcut icon" href="{{ url_for('static', filename='assets/img/favicon.webp')}}" type="image/x-icon">
</head>
<body class="scroll-bar">
	<div id="loader">
		<svg version="1.1" id="L9" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
		viewBox="0 0 100 100" enable-background="new 0 0 0 0" xml:space="preserve">
			<path fill="#d4af37" d="M73,50c0-12.7-10.3-23-23-23S27,37.3,27,50 M30.9,50c0-10.5,8.5-19.1,19.1-19.1S69.1,39.5,69.1,50">
				<animateTransform 
					attributeName="transform" 
					attributeType="XML" 
					type="rotate"
					dur="1s" 
					from="0 50 50"
					to="360 50 50" 
					repeatCount="indefinite" />
		</path>
		</svg>
	</div>
   <header>
      <div class="header-container">
         <nav class="header-nav-bar">
				<div class="header-nav-logo">
					<a href="/">
						<img src="{{ url_for('static', filename='assets/img/star_hotels_logo.png')}}"
							alt="star hotels logo">
					</a>
				</div>
				<ul class="header-nav-lists">
						<li class="header-nav-list">
							<a class="header-nav-link header-active" href="/">Home</a>
						</li>
						
						<li class="header-nav-list"><a class="header-nav-link" href="facilities">Facilities</a></li>
						<li class="header-nav-list"><a class="header-nav-link" href="contact">Contact Us</a></li>
						<li class="header-nav-list"><a class="header-btn header-btn-custom" href="contact">BOOK NOW</a></li>
					</ul>
            
            <div class="header-hamburger-icon">
               <div class="header-hamburger-line-1"></div>
               <div class="header-hamburger-line-2"></div>
               <div class="header-hamburger-line-3"></div>
            </div>
         </nav>
      </div>

      </div>
	</header>

	<div class="jumbotron-container">
		<div class="jumbotron-left">
			<h2 class="jumbotron-header">Currently hosting:
				 <br>The International Climate Conference 2026</h2>
			<p>Tickets are not available anymore, but you can conviniently tune in to our live-stream.</p>
					<a href="livestream" class="btn btn-fill btn-large">Live Stream</a>
		</div>
		
	</div>
	<!-- Enjoy your stay in our hotel -->
	<div class="speaker-container">
		<div class="speaker-header">
			<h2 class="speaker-title">The Heart and Soul of this Year's <br>International Climate Conference 2026</h2>
			<hr class="horizontal">
		</div>
	<div class="cards-container">
		<div class="single-card">
		<img src="{{ url_for('static', filename='assets/img/pproject.jpg')}}" alt="Pedro Project - Moderator" class="card-avi">
		<h2 class="card-title">Pedro Project</h2>
		<h3 class="card-subtitle">
			Moscow, Russia.
		</h3>
		<p class="card-desc">
			Some believe that he is the thought leader to look out for in the next 10 years,<br>
			others know already that he is a genius. He is the leader we need<br>
			 to make sure earth is inhabitable for the next generations. 
		</p>
		</div>
	</div>
	<!-- Client speakers -->
	<div class="speaker-container">
		<div class="speaker-header">
			<h2 class="speaker-title">
				Keynote Speakers
			</h2>
			<hr class="horizontal">
			<p class="">We proudly present the Keynote lineup:</p>
		</div>
		<div class="cards-container">
				<div class="card">
					<img src="{{ url_for('static', filename='assets/img/ttrismah.jpg') }}" alt="" class="card-avi">
					<h2 class="card-title">
							Tim Trismah
					</h2>
					<h3 class="card-subtitle">
						Not-Norway, Denmark.
					</h3>
					<p class="card-desc">What can we learn from Windmills, and how we reinvented the wheel.</p>
				</div>
				<div class="card">
					<img src="{{ url_for('static', filename='assets/img/ggamedadel.jpg') }}" alt="" class="card-avi">
					<h2 class="card-title">
							Gabriella Gamedadel
					</h2>
					<h3 class="card-subtitle">
							Langos, Hungaria.
					</h3>
					<p class="card-desc">The next steps towards emission free energy generation.</p>
				</div>
				<div class="card">
					<img 
					src="{{ url_for('static', filename='assets/img/msevice.jpg') }}"
						alt="" 
						class="card-avi">
					<h2 class="card-title">
						Mika Microservice
					</h2>
					<h3 class="card-subtitle">
						Canberra, Australia.
					</h3>
					<p class="card-desc">We only have one planet to live on in this universe - how space travel might change the future.</p>
				</div>
				

			</div>
	</div>
	<!-- Enjoy your stay in our hotel -->
	<div class="enjoy-container">
		<div class="enjoy-header">
			<h2 class="enjoy-heading">Enjoy your stay <br>at our hotel</h2>
			<hr class="horizontal">
			<p>We are more than being a hotel because we are able<br> to combine the quality standard of a hotel with the<br> advantages of an apartment.</p>
		</div>
	<div class="enjoy-services">
		<div class="first-col">
			<div class="upper">
					<span>
						<img src="{{ url_for('static', filename='assets/img/clock.svg') }}" alt="clock icon" class="enjoy__clock-icon">
					</span>
					<h3>24 hours Room Service</h3>
					<p>You have access to 24-hours a day room service at our hotel.</p>
			</div>
			<div class="lower">
				<span>
					<img src="{{ url_for('static', filename='assets/img/database.svg')}}" alt="fitness icon" class="enjoy__fitness-icon">
				</span>
				<h3>Fitness and Spa</h3>
				<p>Access to fitness and Spa is part of our hotel package when you make a booking.</p>
			</div>
			
		</div>
		<div class="sec-col">
				<div class="upper">
					<span>
						<img src="{{ url_for('static', filename='assets/img/coffee.svg')}}" alt="coffee icon" class="enjoy__coffee-icon">
					</span>
						<h3>Restaurant and Bars</h3>
					<p>You have access to the world state of art restaurants and bars at our hotel</p>
				</div>
				<div class="lower">
					<span>
						<img src="{{ url_for('static', filename='assets/img/wifi.svg') }}" alt="wifi icon" class="enjoy__wifi-icon">
					</span>
						<h3>Free Wi-Fi Access</h3>
						<p>You have access to 24-hours free Wi-Fi services irrespective of any room.</p>
				</div>
		</div>
	</div>

	</div>
	<section class="special-offers">
		<!-- Top Text -->
		<div class="page-header-container">

		  <h2 class="page-header">Simplicity is the ultimate <br>Watchword</h2>
	
            
            </div>
			<div class="row center-lg">
				<div class="col image-col right-marg">
					<img src="{{ url_for('static', filename='assets/img/hotel-1.webp')}}" alt="room-image" class="small-image">
					<img src="{{ url_for('static', filename='assets/img/hotel-2.webp')}}" alt="room-image" class="small-image">
					<img src="{{ url_for('static', filename='assets/img/hotel-3.webp')}}" alt="room-image" class="small-image img-hide">
					<div class="side-by-side-container">
						<div class="large-image-container">
							<img src="{{ url_for('static', filename='assets/img/hotel-4-large.webp')}}" alt="room-image-large" class="large-image">
						</div>
						<section class="stacked-image-container">
						  <div><img src="{{ url_for('static', filename='assets/img/hotel-5.webp')}}" alt="room-image" class="small-image"></div>
						  <div><img src="{{ url_for('static', filename='assets/img/hotel-6.webp')}}" alt="room-image" class="small-image"></div>
						</section>
					</div>
				</div>
				<div class="col">
					<p class="offers-sub-title">
							The fact that we are run by hospitality professionals<br>and equipped with the world best interior designers <br> is why our rooms and suites are second to none in <br>the universe
					</p>
					<ul class="offers-list">
						<li>
							<div>
								<img src="{{ url_for('static', filename='assets/img/check-square.svg')}}" alt="tick" class="list-icon">
								<p class="list-text">Standard Room</p>
							</div>
						</li>
						<li>
							<div>
								<img src="{{ url_for('static', filename='assets/img/check-square.svg')}}" alt="tick" class="list-icon">
								<p class="list-text">Executive Room</p>
							</div>
						</li>
						<li>
							<div>
								<img src="{{ url_for('static', filename='assets/img/check-square.svg')}}" alt="tick" class="list-icon">
								<p class="list-text">King Suite</p>
							</div>
						</li>
					</ul>
					
				</div>
			</div>
		</section>
	<footer class="footer">
		<div class="footer-container">
			<nav class="footer-nav">
				<div class="footer-description">
					<h3 class="footer-description-title">Star Hotels</h3>
					<p>Hospitality and Comfort are our watchwords</p>
				</div>
				<div class="footer-contact-us">
					<h3 class="footer-description-title">Contact Us</h3>
					<p class="footer-description-detail"> 
						<img src="{{ url_for('static', filename='assets/img/map-pin.svg')}}" class="footer-description-icon" alt="star hotel location">

						<span>23, Fola Osibo, Lekki Phase 1</span></p>
					<p class="footer-description-detail">
						<img src="{{ url_for('static', filename='assets/img/phone.svg')}}" class="footer-description-icon" alt="star hotels phone number"> 
						<span>
					 08185956620</span></p>
					<p class="footer-description-detail">
						<img src="{{ url_for('static', filename='assets/img/mail.svg')}}" class="footer-description-icon" alt="star hotels email">
						<span>support@starhotels.com</span> </p>
				</div>
				<div class="footer-follow-us">
					<h3 class="footer-description-title">Follow Us</h3>
					<ul class="footer-follow-us-lists">
						<li class="follow-us-list">
							<a href="">
								<img src="{{ url_for('static', filename='assets/img/facebook.svg')}}" alt="star hotels facebook page">
							</a>
						</li>
						<li class="follow-us-list">
							<a href="">
								<img src="{{ url_for('static', filename='assets/img/twitter.svg')}}" alt="star hotels twitter page">
							</a>
						</li>
						<li class="follow-us-list">
							<a href="">
								<img src="{{ url_for('static', filename='assets/img/instagram.svg')}}" alt="star hotels instagram page">
							</a>
						</li>
					</ul>
				</div>
			</nav>
		</div>
	</footer>
	<script defer async>
		(() => {
			const loader = document.getElementById('loader');
			const scrollBar = document.getElementsByClassName('scroll-bar')[0];
			window.addEventListener('load', () => {
				loader.classList.add('none');
				scrollBar.classList.remove('scroll-bar')
			});
		})();
	</script>
	<script  defer async src="{{ url_for('static', filename='assets/js/toggleHamburger.js')}}"></script>
</body>
</html>